/* ADITI PAGE CSS */

:root {
    --mylightpink: #FFD5D5;
    --mypink: #FDAAAA;
    --mygreen: #59AC77;
    --mydarkgreen: #3A6F43;
}

body {
    font-family: courier;
    background-color: var(--mydarkgreen);
}

h1 {
    background-color: var(--mylightpink);
    color: var(--mydarkgreen);
    display: inline-block;
    padding: 5px;
}

h2 {
    background-color: var(--mygreen);
    color: var(--mylightpink);
    display: inline-block;
    padding: 5px;
}

p, ol, ul, b {
    color: var(--mylightpink);
}